* {
    box-sizing: border-box;
    margin: 0;
    font-family: monsterrat, sans-serif;
}



/* -----CUSTOM PROPERTIES----- */

:root {
    --clr-darkpurple: #984065;
    --clr-babypink: #EEB7CB;
    --clr-neon: #FED0D0;
}



/* -----MAIN CONTENT STYLING----- */


/* -----INTRODUCTION STYLING/SOCIAL LINKS----- */

.backgroundcolor-darkpurple {
    background-color: var(--clr-darkpurple);
    padding: 2rem;
    overflow: hidden
}

h1 {
    color: white;
    font-size: xxx-large;
}

h2 {
    color: white;
    font-weight: lighter;
    margin-top: 0.4rem;
}

.introduction-p {
    color: white;
    margin-top: -1rem;
    padding: 2em;
    line-height: 1.5em;
    margin-left: -2em;
}

.iologowhite {
    width: 12em;
    margin-left: 14em;
    margin-top: -1.5em;
}

.section-introduction {
    z-index: 100;
}

.ninja {
    margin-left: 0.3em;
}

button {
    border-radius: 1em;
    border: none;
    padding: 1em;
    margin-left: 1em;
    margin-top: 1em;
    background-color: var(--clr-babypink);
}

button:hover{
    background-color: var(--clr-neon);
    color: black;
}

.clrdarkpurple {
    background-color: var(--clr-darkpurple);
    color: white;
}

.colorfulbutton {
    margin-left: 0.9em;
}

.githubicon {
    width: 1.5em;
}

.BeauTerHam {
    position: relative;
    left: 0em;
    top: -0.3em;
}

.iologobutton {
    width: 8em;
}

.buttonlinks{
    margin-left: -1em;
    margin-top: -1em;
}

.personalbutton{
    border-color: var(--clr-babypink);
    border-style: solid;
    color: white;
    background: none;
}


/* -----MOTIVATION----- */

.motivationp {
    padding: 2rem;
    line-height: 1.5em;
    margin-top: -1em;
}

h3 {
    margin-left: 0em;
    margin-top: 2em;
    color: white;
}

.iologoblack {
    width: 1.5em;
    position: relative;
    top: 0.1em;
}

.motivationh3{
    color: black;
    margin-left: 1.6em;
}


/* -----SKILLS----- */

.backgroundcolor-babypink {
    background-color: var(--clr-babypink);
    padding: 2em;
}

.h3buttonskills{
    margin-top: 0em;
    margin-left: 0em;
    margin-bottom: 1em;
    color: black;
}

.h1ninja{
    left: 5em;
    position: relative;
    z-index: 2;
    top: -6.6em;
}


/* -----PROJECTS----- */

.projecth3{
    color: black;
    margin-left: 2em;
}

.backgroundcolorproject{
    background-color: var(--clr-darkpurple);
    color: white;
    height: 51em;
    border-radius: 1em;
    margin: 1.5em;
    padding: 2em;

}

.nummerp{
    font-size: xxx-large;
    font-weight: bolder;
}

.datump{
    margin-top: 0.2em;
}

.projectname{
    font-size: larger;
    margin-top: 0.6em;
    font-weight: bold;
    color: var(--clr-neon);
}

.companyp{
    margin-top: 0.3em;
    font-weight: bold;
}

.descriptionp{
    font-size: 15px;
    margin-top: 1em;
    line-height: 1.5em;
}

.buttonproject{
    display: flex;
    margin-top: 0.5em;
    margin-left: -0.5em;
}

.projectbutton{
    border-color: var(--clr-babypink);
    border-style: solid;
    color: white;
    background: none;
}


.experiencetekst{
    padding: 2em;
    margin: 1em;
    background-color: var(--clr-darkpurple);
    margin-top: 1em;
    border-radius: 1em;
    color: white;
}

.hidden{
    opacity:0;
    transition: 1s;
    transform: scale(0)
  }
  
  .show{
    opacity: 1;
    transform: translateY(-20px);
    transform: scale(1);
  }

/* -----WORK EXPERIENCE ----- */

.rolep{
    margin-top: 1.5em;
    font-weight: bold;
    font-size: 18px;
    color: var(--clr-neon);
}

.experiencep{
    margin-top: 1em;
    line-height: 1.5em;
}

.companypp{
    margin-top: 0.3em;
    font-weight: 700;
}

.backgroundcolorexperience{
    background-color: var(--clr-darkpurple);
}

/* -----EDUCATION----- */

.educationsection{
    margin-left: 2.3em;
    margin-top: 1em;
}

.educationname{
    font-weight: bold;
    margin-top: 1em;
}

.educationinstitute{
    margin-top: 0.3em;
}


/* -----PUBLICATIONS----- */

.publicationslink{
    margin-left: 2.5em;
    font-weight: 700;
    margin-top: 0em;
    margin-bottom: 1em;
}

.publicationsdescription{
    margin-left: 1.5em;
    margin-top: -2em;
    padding: 1em;
    line-height: 1.5em;
}

.publicationstitle{
    padding: 2em;
    font-weight: bold;
    margin-left: 0.5em;
}

