* {
    box-sizing: border-box;
    margin: 0;
    font-family: monsterrat, sans-serif;
}



/* -----CUSTOM PROPERTIES----- */

:root {
    --clr-darkpurple: #984065;
    --clr-babypink: #EEB7CB;
}



/* -----MAIN CONTENT STYLING----- */


/* -----INTRODUCTION STYLING----- */

.backgroundcolor-darkpurple {
    background-color: var(--clr-darkpurple);
    padding: 2rem;
    overflow: hidden
}

h1 {
    color: white;
    font-size: xx-large;
}

h2 {
    color: white;
    font-weight: lighter;
    margin-top: 0.4rem;
}

.introduction-p {
    color: white;
    margin-top: -1rem;
    padding: 2em;
    line-height: 1.5em;
    margin-left: -2em;
}


.iologowhite {
    width: 4em;
    margin-left: 16em;
    margin-top: -1em;
}


.section-introduction {
    z-index: 100;
}

.ninja {
    margin-left: 0.3em;
}

/* -----SOCIAL LINKS----- */

button {
    border-radius: 1em;
    border: none;
    padding: 1em;
    margin-left: 1em;
    margin-top: 1em;
    background-color: var(--clr-babypink);
}

.clrdarkpurple {
    background-color: var(--clr-darkpurple);
    color: white;
}

.colorfulbutton {
    margin-left: 0.9em;
}

.githubicon {
    width: 1.5em;
}

.BeauTerHam {
    position: relative;
    left: 0em;
    top: -0.3em;
}

.iologobutton {
    width: 8em;
}

/* -----SOCIAL LINKS----- */

.motivationp {
    padding: 2rem;
    line-height: 1.5em;
    margin-top: -1em;
}

h3 {
    margin-left: 1.6em;
    margin-top: 2em;
}

.iologoblack {
    width: 1.5em;
    position: relative;
    top: 0.1em;
}

/* -----SKILLS----- */

.backgroundcolor-babypink {
    background-color: var(--clr-babypink);
    padding: 2em;
}

.h3buttonskills{
    margin-top: 0em;
    margin-left: 0em;
    margin-bottom: 1em;
}

.iologoblackskills{
    width: 11em;
    margin-left: 9em;
    margin-top: -3em;
}

.h1ninja{
    left: 7em;
    position: relative;
    z-index: 2;
    top: -9.3em;
}